/* add css module styles here (optional) */

.cascadeFields {
  padding: 2px;
}

.cascadeField {
  margin: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.cascadeField label {
  margin: 2px;
}

.error>:not(label) {
  border: 1px solid #f00;
}

.cascadeField > input {
  height: 35px;
}
